.header {
  height: 105px;

  a {
    display: block;
    max-width: 1120px;
    height: inherit;
    margin: auto;

    img {
      display: inline;
      margin-left: 210px;
      margin-top: 40px;
      margin-bottom: 39.3px;
    }
  }
}
